# ==========================================
# CURIOSITY AI — DOCKER ENVIRONMENT CONFIG
# ==========================================

# Port web server di host
PORT=8080

# URL backend Ollama yang ingin diakses oleh Nginx reverse proxy
# Default server LLM:
OLLAMA_BACKEND_URL=http://10.99.98.47:11434
