# ==========================================
# CURIOSITY AI — DOCKER ENVIRONMENT CONFIG
# ==========================================

# Port web server di host
PORT=8080

# URL backend Ollama yang ingin diakses oleh Nginx reverse proxy
# Default server LLM:
OLLAMA_BACKEND_URL=http://10.99.98.47:11434

# Token Cloudflare Tunnel (dapatkan dari Cloudflare Zero Trust Dashboard)
# Wajib diisi agar cloudflared bisa terkoneksi ke tunnel
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here
